name: Build and Release

on:
  push:
    tags:
      - 'v*' # v1.0.0 စသဖြင့် tag နဲ့ push လုပ်မှ အလုပ်လုပ်မယ်

jobs:
  build:
    name: Build for Linux
    runs-on: ubuntu-latest # GitHub ရဲ့ Linux စက်ကို သုံးမယ်

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Linux Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev rpm patchelf

      - name: Install Fastforge
        run: dart pub global activate fastforge

      - name: Build Packages
        run: |
          export PATH="$PATH":"$HOME/.pub-cache/bin"
          fastforge release
        
      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}