name: Flutter Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.x'
          channel: 'stable'

      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev liblzma-dev

      - name: Install dependencies
        run: flutter pub get

      # 1. Build Android (Split per ABI)
      - name: Build Android APK
        run: flutter build apk --release --split-per-abi

      # 2. Build Linux
      - name: Build Linux Desktop
        run: flutter build linux --release

      - name: Compress Linux Build
        run: |
          cd build/linux/x64/release/bundle
          zip -r ../../../../../linux-x64-release.zip *
          cd -

      # 4. Create Release and Upload Files
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/app/outputs/flutter-apk/*.apk
            linux-x64-release.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
